@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"], input[type="password"], 
input[type="email"], input[type="tel"], 
input[type="number"], select,
textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}

textarea{
    height: 140px;
}

button{
    @apply bg-gray-300;
}

button.primary{
    background-color: #F5385D;
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}

table{
    width: 100%;
}

table th{
    font-weight: normal;
}

table th, table td{
    padding: 8px 15px;
    border-bottom: 1px solid #ddd;
}

table th{
    @apply text-secondary;
    @apply font-bold;
    @apply uppercase;
    @apply text-xs;
    @apply cursor-pointer;

}

table td{
    @apply text-sm;
    @apply leading-4;
    @apply text-gray-600;
}

/* custom-datepicker.css */
.react-datepicker {
    font-family: "Arial", sans-serif;
  }
  
  .react-datepicker__input-container {
    display: inline-block;
    position: relative;
  }
  
  .react-datepicker__input-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
  }
  
  .react-datepicker__input-container input::placeholder {
    color: #aaa;
  }
  
  .react-datepicker__input-container input:focus {
    outline: none;
    border-color: #444444;
  }
  
  .react-datepicker__header {
    background-color: #d8d8d8;
    border-bottom: none;
    padding: 16px;
    color: #fff;
  }
  
  .react-datepicker__day {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 2px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .react-datepicker__day:hover {
    background-color: #444444;
    color: #fff;
  }
  
  .react-datepicker__day--selected {
    background-color: #444444;
    color: #fff;
  }
  
  .react-datepicker__day--disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  .filter-div {
    height: 300px; /* Replace with your desired height */
  }

/* Messages styling */

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.custom-avatar {
  width: 40px;
  height: 40px;
  background-color: #BEE3F8;
  border-radius: 50%;
  overflow: hidden;
}
